.main {
  display: grid;
  place-items: center;
  background-color: white;
  margin: 80px;
  font-family: 'League Spartan', sans-serif;
  
}


.first, .second {
  display: flex;
}

.top-left, .top-right {
  width: 500px;
  margin: 0;
}

h1 {
  color: hsl(300, 43%, 22%);
  width: 270px;
  font-size: 40px;
  margin-top: 0;
}

.top {
  color: hsl(303, 10%, 53%);
  width: 400px;
  line-height: 20px;
}

.a, .b, .c {
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
  color: hsl(300, 43%, 22%);
  width: 300px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
}

.b {
  margin-left: 60px;
}

.c {
  margin-left: 120px;
}

.second {
  height: 260px;
  width: 1000px;
  justify-content: space-between;
}

.s, .r, .w {
  width: 300px;
  height: 220px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
}

.s {
  margin-top: 10px;
}

.r {
  margin-top: 20px;
}

.w {
  margin-top: 30px;
}

.bottom {
  width: 260px;
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
  line-height: 20px;
  font-size: 15px;
}

.colton, .irene, .anne {
  margin-left: 25px;
  margin-top: 35px;
}

.name{
  color: hsl(0, 0%, 100%);
}

.buyer {
  color: hsl(333, 80%, 67%);
}

img {
  border-radius: 50px;
  margin-right: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
